<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>287576964805-qnlg30e57jr5mjnod9miusnh1knuv8nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287576964805-qnlg30e57jr5mjnod9miusnh1knuv8nj</string>
	<key>API_KEY</key>
	<string>AIzaSyA5n1PqZ7F_UfTEqvAG6lf6wHgucMT4wfk</string>
	<key>GCM_SENDER_ID</key>
	<string>287576964805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.chat</string>
	<key>PROJECT_ID</key>
	<string>related24-d3ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>related24-d3ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:287576964805:ios:8a9354d6483948fd</string>
	<key>DATABASE_URL</key>
	<string>https://related24-d3ffd.firebaseio.com</string>
</dict>
</plist>